header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5)
}

.logo img{
    width: 200px;
    height: 100px;

}
.menu img{
    height: 15px;
    width: 15px;

}
.menu a{
    font-size: 25px;
    color: brown;
    text-transform: capitalize;
    text-decoration: none;
    padding: 10px 10px;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-image: url("img/maxresdefault.jpg");
    height: 100%;
}

.start h1{
    font-size: 30px;
    color: white;
}